#conteinerCorpo{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 30px;
}

.paragrafocomtexto, h1, h3{
    text-align: justify;
    padding: 3px;
    margin-left: 150px;
    margin-right: 150px;
}

.blocoDeTexto{
    margin-top: 15px;
    margin-bottom: 15px;
}